In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\A654219\Documents\CWS\source\CwS - latest with formulas.xls')

In [2]:
print(df.columns.tolist())

['First name', 'Last name', 'KP email', 'Team', "October '20", "November '20", "December '20", "January '21", "February '21", "March '21", "April '21", "May '21", "June '21", "July '21", "September '21", "November '21", "December '21", "January '22", "February '22", "April '22", "May '22", "June '22", "July '22", "August '22", "September '22", "October '22", "November '22", "December '22", "January '23", "February '23", "March '23", "April '23", "May '23", "June '23", "July '23", "August '23", "September '23", "October '23", "November '23", "January '24", "February '24", "March '24", "April '24", "May '24", "June '24", "July '24", "August '24", "September '24", "October '24", "November '24", "December '24"]

In [3]:
df_melted = pd.melt(df, id_vars=['KP email'], value_vars=[, 
                    var_name='Month', value_name='Matches')

In [4]:
df_melted

                        KP email        Month   Matches
0          michael.d.rowe@kp.org  October '20   Michele
1         simon.widdowson@kp.org  October '20    Thomas
2                  hue.le@kp.org  October '20  Jeanette
3          melissa.roguly@kp.org  October '20   Matilde
4               anne.chen@kp.org  October '20    Angela
...                          ...          ...       ...
3915      michael.a.divic@kp.org      May '24       NaN
3916       niti.s.kadakia@kp.org      May '24       NaN
3917         ernest.brown@kp.org      May '24       NaN
3918         nor.x.khinda@kp.org      May '24       NaN
3919  gabriella.h.maestas@kp.org      May '24       NaN

[3920 rows x 3 columns]

In [20]:
df_melted['Matches'].fillna('No match found', inplace=True)

# Group by 'KP email' and count occurrences of each match
grouped = df_melted.groupby('KP email')['Matches'].value_counts().unstack(fill_value=0)

# Create a list of dictionaries for each unique KP email
result = {}

for kp_email, row in grouped.iterrows():
    matches_dict = row[row > 0].to_dict()  # Convert only non-zero counts to a dictionary
    result[kp_email] = matches_dict

In [23]:
result['Chris.Y.Cheuk@kp.org']

{'Anne': 1, 'Joseph': 1, 'Michael': 1, 'No match found': 36, 'Peggy': 1}

In [18]:
Members = df.iloc[:,:4]
Members = Members.drop_duplicates()
Members

,First name,Last name,KP email,Team
0,Michael,Rowe,michael.d.rowe@kp.org,Business Development (Health Plan & Hospitals)
1,Simon,Widdowson,simon.widdowson@kp.org,Business Development (Health Plan & Hospitals)
2,Hue,Le,hue.le@kp.org,Business Development (Health Plan & Hospitals)
3,Melissa,Roguly,melissa.roguly@kp.org,Business Development (Health Plan & Hospitals)
4,Anne,Chen,anne.chen@kp.org,Business Development (Health Plan & Hospitals)
...,...,...,...,...
93,Michael,Divic,michael.a.divic@kp.org,Friends of Obtainium - MSSA Innovates
94,Niti,Kadakia,niti.s.kadakia@kp.org,Friends of Obtainium - National Medicaid
95,Ernest,Brown,ernest.brown@kp.org,Friends of Obtainium - KP GA
96,Nor,Khinda,nor.x.khinda@kp.org,Friends of Obtainium - KP NCAL
97,Gabriella,Maestas,gabriella.h.maestas@kp.org,Friends of Obtainium - KP NCAL